*{
    box-sizing:border-box;
    font-family:'Montserrat', sans-serif;
}
html,body,.wcontainer{
    font-family:'Montserrat', sans-serif;
    width:100%;
    padding:0;
    margin:0;
    background-color:#eff7f7;
}

.wheader,.wheader .searchform{

    position: fixed;
    display:flex;
    z-index:10;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    margin:0;
    padding:0;
    background-color:#32323a;
    width:100%;
    height:60px;

}
.wheader .searchform{
  
    padding:8px;
 

}
.lougout{
    cursor:pointer;
    position: absolute;
    right: 8px;
    top: 8px;
}

.wheader .searchform h1{
    margin-top:10px;
    letter-spacing: 6px;
    color:#eff7f7;
    margin:5px;
}

.wheader form .search,.wheader form button{
    color:rgb(85, 74, 74);
    background-color:transparent;
    margin-top:5px;
    
    height:40px;
    border:none;
}
.wheader form .search{
    font-size:14px;
    width:400px;
    margin-left:20%;
    border-bottom:1px solid white;
}



.wsidebar{
     margin-top:60px;
    z-index:0;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    position:fixed;
    padding:0;
    width:250px;
    min-height:100vh;
    background-color:#ffffff;
}
.profile{
    z-index:0;
    padding:25px 8px;
    margin:0;
    
    width:100%;
    height:180px;
}
.rounded{
    float:left;
    vertical-align: 10px;
    border-radius:50%;
    width:50px;
    height:50px;
}
.profile h4{
    margin-left:8px;
    float:left;
}

.menu{
    border-top:1px solid #b2bec3;
    width:100%;
    padding:0;
    margin:0;

}
.menu ul{
    list-style-type:none;
    width:100%;
    padding:0;
    margin:0; 
}

.menu ul li{
    width:100%;
    padding:10px;
    margin:0;
    

}

.menu ul li:hover{
    background-color:#eff7f7;
   
     
}
.menu ul li a{
    color:#636e72;
    margin:25px 0px;
    text-decoration:none;
}
.searchform .fas{
    margin:5px;
    color:white;
    font-size:16px;
}   

.searchform button{
    padding:5px;
color:white;
}

.wmaincontent{
    padding:0;
   padding-top:60px;
   
    margin-left:250px;


}
.wmaincontent .wtitle{
width:100%;
padding:20px;
background-color:white;
color:;
font-size:20px;

}
.wtitle{
    color:#3498db;
}

.adduser{
    border:1px solid white;
    position: absolute;
    right:10px;
    background-color:#3498db;
    border-radius:5px;
    padding:8px 15px;
    color:white;
}
.adduser:hover{
    color:#ecf0f1;
    cursor: pointer;
}

.searchuser{
    text-align: center;
    padding:25px;
    margin:0;
    width:100%;
}

.searchuser form input{
    width:75%;
    font-size:20px;
    padding:10px;

    border:none;
    border-radius:10px 0 0 10px;
}

.searchuser form button{
    margin-left:-4px;
    max-width:150px;
    font-size:20px;
    padding:10px;
    background-color:#3498db;
    color:white;
    border:none;
    border-radius:0 10px  10px 0;
}

::-webkit-input-placeholder { /* Edge */
  color: #b2bec3;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #b2bec3;
}

::placeholder {
  color: #b2bec3;
}

.datauser{
    display: block;
    padding:25px;
    margin:0;
    width:100%;
}
.whitediv{
    display: block;
    margin:10px;
    width:100%;
    background-color:white;
    padding: 10px;
}
.datauser table{
    border:none;
    padding:20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    background-color:white;
    width:100%;
}
.datauser table thead th{
    color:#3498db;
    padding:6px;
    border-bottom: 2px solid #3498db;
}
.datauser table tbody tr td{
  
   padding:15px;
   text-align: center;
}

.datauser table tbody tr:hover{
     background-color:rgba(52, 152, 219,.1);
     cursor:pointer;
}

.active{
    background-color:#3498db;
    color:white !important;
}
.active a{
    color:white !important;
}

.inputGroupe{
    display: flex;
}
.inputGroupe textarea{
    width:350px;
    font-size:18px;
}
.searchuser form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size:14px;
}
.searchuser form input::-moz-placeholder { /* Firefox 19+ */
  font-size:14px;
}
.searchuser form input:-ms-input-placeholder { /* IE 10+ */
  font-size:14px;
}
.searchuser form input:-moz-placeholder { /* Firefox 18- */
  font-size:14px;
}

div.errors{
    z-index:10;
    position:fixed;
    top:10px;
    right:40%;
    padding:8px 50px;
    background-color:#f39c12;
    color:white;
    font-size: 12px
}

.emptydata{
    background-color: white;
    padding: 20px;

}
.actionbtn{
    padding:5px 15px;
    margin:6px;
    background-color:#32323a;
    color:white;
    border-radius: 5px;
    
}

.loginbtn{
    background-color: white;
    padding: 10px;
    color:#32323a;
    text-decoration:none;
    border-radius: 10px;
    position:absolute;
    top:10px;
    right:10px;
}

.logindiv{
    background-color: white;
    padding: 20px;
    width:60%;
    margin: 50px auto;
}
.logindiv{
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.loginbtnform{
    font-size:18px;
    border:none;
    color: white;
    padding: 10px;
    background-color:#32323a;
    text-decoration:none;
    border-radius: 10px;
    
}
.forgetlink{
    margin-top: 10px;
    margin-left: 10px;
}

.card-equipement{

    padding:10px;
    float:left;
    border:1px solid #b2bec3;
    width:30%;
    margin:1.5%;
}
.card-equipement:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.card-equipement .image{
    width:100%;
    height:100px;

background-repeat: no-repeat;
background-size:cover;

}
.image{
border:2px solid #636e72;
margin-right:10px;
margin-bottom:20px;
float:left;
width:50%;
height: 180px;
background-repeat: no-repeat;
background-size:cover;

}
.card-equipement h3{
    margin:0px;
    text-align: center;
    background-color:#3498db;
    padding:5px;
    color:white;
}
.card-equipement h5{
    margin:0px;
    text-align: center;
    background-color:#ff7675;
    padding:8px;
    color:white;
}
.card-equipement p{
    margin:0px;
    background-color:#636e72;
    padding:8px;
    color:white;
}


.btnsubmit{
    
    position: relative;
    bottom:10px;
    left:90%;
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: #3498db;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
.listhome{
    margin-bottom:50px;
}
.listhome li {
margin-top:10px;
}
.dashboardbtn{
    margin:50px;
    text-decoration: none;
    background-color:#576574 ;
    color:white;
    padding:20px;
}

.allfunctions{
    padding: 20px;
    width:100%;
}
.allfunctions .gusers{
    width:50%;
    float:left;    
}